:root {
  --primery-color:#212121;
  --title-color:#757575;
  --accent-color:#2196F3;
  --primery-background: white;
  --section-background: #E5E5E5;
  --card-set-gap: 30px;
  --card-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),
  opx 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  --primery-text:"Roboto", sans-serif;
}
/* Изменение стандарта разметки страницы с content- box,
 для стабилизации ширины */

 html { 
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--primery-text);
  color: var(--primery-color);
  background: var(--primery-background); 
  text-decoration: none;
  
}
img {
  max-width:100%;
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  
 
  /* background-color: tomato; */
} 

.list {
  list-style: none;
 
}
/* top header */

.logo {
/* cursor: default; */
font-family: Raleway;
font-weight: bold;
font-size: 26px;
line-height: 1.2em;
text-decoration: none;
letter-spacing: 0.03em;
color: var(--accent-color); 
margin: 0px;
/* display: flex; */

}
.studio-black {
  color:var(--primery-color);
}
/* front header */
.link-header {text-decoration: none;
  /* cursor: default; */
}

.page-header {

  font-family:  var(--primery-text);
font-weight: 500;
font-size: 14px;
line-height: 1.14em;
letter-spacing: 0.02em;
text-decoration: none;
border-bottom: 1px solid #ECECEC;
  }
/* header menu */
.page-header .container {
  display: flex;
  justify-content: space-between;
}

.display-nav-page {
  display:flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.site-nav .group {
  margin-left: 50px;
}
.site-nav .group:first-child {
  margin-left: 0;
}
.auth-nav { 
 display: flex; 
 align-items: center;
}
.auth-nav .group {
  margin-right: 50px;
}
.auth-nav .group:last-child {
  margin-right: 0;
}
.page-hero {
    background: #2f303a;
    color: #ffffff;
    font-family: var(--primery-text);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
  }

  .hero-title { 
font-family: var(--primery-text);
font-weight: 900;
font-size: 44px;
line-height: 1.36em;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
margin: 0;
/* outline */


  }

  .auth-nav.link {
font-family: var(--primery-text);
font-weight: 500;
font-size: 14px;
line-height: 1.14em;
letter-spacing: 0.02em;

  }


  .page-hero button {
font-family: var(--primery-text);
font-weight: bold;
font-size: 16px;
line-height: 1.87em;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
border-radius: 4px;
margin-top: 40px; 

}

/* body */
/* optimization details work */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}


.feautures-list h3 {
  font-family: var(--primery-text);
font-weight: bold;
font-size: 14px;
line-height: 1.14em;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.features-list p {
  color: var(--title-color);
  font-family: var(--primery-text);
font-weight: normal;
font-size: 14px;
line-height: 1.7em;
letter-spacing: 0.03em;
}

.feature-title {
  font-family: var(--primery-text);
font-weight: bold;
font-size: 14px;
line-height: 1.14em;
letter-spacing: 0.03em;
text-transform: uppercase;


}

.doing-work {
  font-family: var(--primery-text);
font-weight: bold;
font-size: 36px;
line-height: 1.16em;
text-align: center;
letter-spacing: 0.03em;
padding-bottom: 50px;
margin: 0;
}
.works-names {
  font-family: var(--primery-text);
font-weight: 500;
font-size: 16px;
line-height: 1.18em;
text-align: center;
letter-spacing: 0.03em
margin:0;

}

.features {
  display: flex;
  margin: 0;
  /* box-shadow: var(--card-shadow); */
}
.features p {
font-family: var(--primery-text);
font-size: 16px;
line-height: 1.18em;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
margin-bottom: 0; 

}
  

.site-nav .link-header {
font-family: var(--primery-text);
font-weight: 500;
font-size: 14px;
line-height: 1.14em;
letter-spacing: 0.02em;
color: var(--primery-color);
} 

.site-nav .link-header:hover,
.site-nav .link-header:focus,
.auth-nav .link-header:hover,
.auth-nav .link-header:focus {
   color:var(--accent-color);
}
.auth-nav .link-header {
  color: var(--title-color);
}.feautures-list p {
  color: var(--title-color);
}
  

  /* colors section */

  .section {
    color: var(--primery-color);
  }
 .team {
   background-color: var(--section-background);
 }

.section-button p {
  color:var(--title-color);
}

/* footer */


.address {
background: #2F303A;
font-family: var(--primery-text);
font-weight: normal;
font-size: 14px;
line-height: 1.71em;
letter-spacing: 0.03em;
margin: 0;
}
 
.email-address {
 font-family: var(--primery-text);
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71em;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.tel-address {
font-family: var(--primery-text);
font-weight: normal;
font-size: 14px;
line-height: 1.71em;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.street-house {
  font-family: var(--primery-text);
font-weight: normal;
font-size: 14px;
line-height: 1.71em;
color: #FFFFFF;
letter-spacing: 0.03em;
}

/* button */
 
  .style-button {
    color: white;
    background: var(--accent-color);
    cursor:pointer;
  }

/* sectioin porfolio */
.button-line {
  list-style: none; 
}

.section-button {
  font-family: var(--primery-text);
font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: var(--primery-color);
margin-top: 100px;
margin-bottom: 94px;


}
.section-button>h2, .button-line {
  margin: 0;
}
.link {
font-family: var(--primery-text);
font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;

padding:6px 22px;
background:var(--primery-background);
display: inline-block;
border-radius: 4px;
cursor: pointer;
min-width: 100px;
 }

.link:hover,.link:focus {
    background-color: var(--accent-color);
    color:var(--primery-background);
}
.link {
    color: var(--primery-color);
  }
  .project-works {
    margin-top: 50px;  
    margin-bottom: 94px;
  }

.project-works h3 {
  font-family: var(--primery-text);
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2em;
letter-spacing: 0.06em;
}
 
.project-works p {
  font-family: var(--primery-text);
font-weight: normal;
font-size: 16px;
line-height: 1.87em;
letter-spacing: 0.03em;
}
/* оформление flexbox-index */
.feautures-list {
  display: flex;
 
}

/* оформление flexbox-portfolio */
.project-works {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
   margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap)); 
}

.project-works > .block-projects {
  flex-basis: calc(100%/3 -20px);
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.card-heading {
  padding: 20px 24px 0px;
  text-align: left;
  margin: 0;
}
.card-text {
  padding: 4px 24px 20px;
  text-align: left;
}
/* .block-projects {
  border: 1px solid black;
} */

/* logo white */
.studio-white {color:white;}
.email-address,.tel-address {text-decoration: none;
}


  

  
